@charset "UTF-8";
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.backdrop {
  width: 100%;
  height: 100%;
}

body {
  background-color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #999999;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

/* image */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* дополнительные классы */
a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

/* скрытие заголовков */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  text-align: center;
  color: #323232;
}

@media screen and (max-width: 767px) {
  .section__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .section__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 768px) {
  .header {
    border-bottom: 1px solid #a1a1a1;
    opacity: 0.5;
  }
}

.nav {
  margin-left: auto;
}

.main-nav {
  padding-top: 40px;
  padding-bottom: 40px;
}

.site-nav {
  display: block;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.site-nav-item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .site-nav-item {
    margin-right: 20px;
    margin-bottom: 0;
  }
}

.site-nav-item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .site-nav-item:last-child {
    margin-right: 0px;
  }
}

.nav-link {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.8;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.43;
    color: #ffffff;
  }
}

.menu-button {
  position: fixed;
  z-index: 99;
  border: transparent;
  outline: transparent;
  background-color: transparent;
  fill: white;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button .mobile-menu__open {
  opacity: 1;
}

.menu-button.is-open .mobile-menu__open {
  opacity: 0;
}

.menu-button .mobile-menu__close {
  opacity: 0;
}

.menu-button.is-open .mobile-menu__close {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .menu-button:hover {
    fill: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.mobile-menu__open {
  z-index: 2;
}

.mobile-menu__close {
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .menu-container {
    background-image: -webkit-gradient(linear, left top, right top, from(#504dc2), to(#5e12d1));
    background-image: linear-gradient(to right, #504dc2, #5e12d1);
    padding: 15px;
    font-size: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    padding: 50px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
    visibility: hidden;
    -webkit-transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), visibility 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), visibility 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1), opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), visibility 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1), opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), visibility 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-container.is-open {
    position: absolute;
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    visibility: visible;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding: 0;
  }
}

.logo-img {
  margin: 0 auto;
  background-image: url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: 80% 100%;
  background-color: rgba(31, 29, 29, 0.4);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .logo-img {
    background-image: url("../images/hero@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .logo-img {
    margin-top: -30px;
    background-position: center;
  }
}

.hero {
  padding-top: 180px;
  padding-bottom: 180px;
  text-align: center;
}

@media screen and (min-width: 767px) {
  .hero {
    padding: 220px 0 335px 0;
  }
}

.hero-title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
}

.hero-text {
  margin-bottom: 50px;
  font-weight: 800;
  font-size: 48px;
  line-height: 1.33;
  /* text-align: center; */
  color: #ffffff;
}

.hero-btn {
  padding: 15px 36px;
  min-width: 128px;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  border-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

.backdrop {
  visibility: visible;
  position: fixed;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(80, 76, 194, 0.6)), to(rgba(95, 18, 211, 0.6)));
  background-image: linear-gradient(to right, rgba(80, 76, 194, 0.6), rgba(95, 18, 211, 0.6));
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 99;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  background-color: #55516c;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .modal-box {
    max-width: 350px;
    width: 100vw;
    max-height: 609px;
    height: 100vh;
  }
}

@media screen and (min-width: 768px) {
  .modal-box {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-box {
    width: 900px;
    height: 600px;
  }
}

.backdrop.is-hidden .modal-box {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.modal-box__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal-box__btn--close {
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
}

.modal-box__btn--close:hover, .modal-box__btn--close:focus {
  fill: #2196f3;
}

.about-us {
  text-align: center;
  padding-top: 50px;
}

.services-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.47;
  text-align: center;
  color: #323232;
}

@media screen and (min-width: 768px) {
  .services-title {
    margin-bottom: 50px;
  }
}

.services-text {
  margin-bottom: 58px;
  font-size: 16px;
  line-height: 1.56;
  text-align: center;
}

.services-list {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .services-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.services-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .services-item {
    margin-right: 15px;
  }
}

.services-item:last-child {
  margin-bottom: 0;
}

.services-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 100px;
  text-align: left;
  border-radius: 50%;
  border: 5px double rgba(71, 133, 255, 0.719);
}

.services-box {
  padding-left: 17px;
}

.services-logo {
  fill: #2196f3;
}

.services-subtitle {
  margin-bottom: 12px;
  text-align: left;
  color: #323232;
}

.services-text-p {
  text-align: left;
  font-size: 14px;
  line-height: 1.57;
  color: #999999;
}

.btn-services {
  margin-bottom: 50px;
  display: inline-block;
  padding: 15px 36px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  border: transparent;
}

.btn-services:hover,
.btn-services:focus {
  background-color: #188ce8;
}

.our-standart {
  background-color: #f6f6f8;
  padding: 50px 0;
}

.standart-box {
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .standart-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 100px;
    padding-bottom: 90px;
    border-bottom: 1px solid #e0e0e0;
  }
}

.standart {
  text-align: center;
  color: #323232;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.47;
}

@media screen and (min-width: 768px) {
  .standart {
    margin-bottom: 40px;
  }
}

.standart-text {
  text-align: center;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.56;
}

@media screen and (min-width: 768px) {
  .standart-text {
    text-align: start;
  }
}

.standart-img {
  border-radius: 2px;
}

.standart-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-color);
}

.projects-list {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .projects-list {
    margin-right: 30px;
  }
}

@media screen and (max-width: 768px) {
  .projects-list:not(:first-child) {
    display: none;
  }
}

.projects-list:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.projects-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects-svg {
  margin-right: 20px;
}

.img-icons {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .projects-features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .icons-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.features {
  font-size: 36px;
  line-height: 1.47;
  font-style: normal;
  color: #000000;
}

.features-text {
  text-align: center;
  font-size: 16px;
  line-height: 1.56;
  color: var(--text-color);
}

.our-works {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .our-works {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section-benefits {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: -webkit-gradient(linear, left top, right top, from(#504dc2), to(#5e12d1));
  background-image: linear-gradient(to right, #504dc2, #5e12d1);
  height: 400px;
}

@media screen and (min-width: 768px) {
  .section-benefits {
    height: 350px;
  }
}

@media screen and (min-width: 1200px) {
  .section-benefits {
    height: 490px;
  }
}

.benefits {
  color: #ffffff;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.47;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .benefits {
    margin-bottom: 70px;
  }
}

.benefits-link {
  margin-bottom: 30px;
  min-width: 200px;
  height: 45px;
  padding: 15px 36px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  border: transparent;
}

@media screen and (min-width: 768px) {
  .benefits-link {
    margin-left: auto;
  }
}

.benefits-link:hover,
.benefits-link:focus {
  background-color: #188ce8;
}

.work-container {
  margin-top: -50px;
  margin-bottom: 50px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .work-container {
    margin-top: -100px;
  }
}

@media screen and (min-width: 1200px) {
  .work-container {
    margin-top: -50px;
  }
}

.work-list {
  border-bottom: 1px solid #e0e0e0;
  color: #999999;
}

@media screen and (min-width: 768px) {
  .work-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.work-item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .work-item {
    margin-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .work-item:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .work-item:nth-child(3) {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .work-item:last-child {
    margin-right: 0;
  }
}

.work-img {
  border-radius: 25px;
  margin: 0 auto;
}

.subtitle {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #323232;
}

@media screen and (max-width: 767px) {
  .subtitle {
    text-align: center;
  }
}

.subtitle > span {
  color: #2196f3;
}

.subtitle-text {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.56;
}

@media screen and (min-width: 768px) {
  .subtitle-text {
    text-align: start;
  }
}

.subtitle-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
}

#projects {
  padding: 50px 0;
  background-color: #f6f6f8;
  text-align: center;
}

.our-projects {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.47;
  text-align: center;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .our-projects {
    margin-bottom: 50px;
  }
}

.projects-text {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.56;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .projects-text {
    margin-bottom: 50px;
  }
}

.our-projects-list {
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .our-projects-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.our-projects-item img {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .our-projects-item {
    margin-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .our-projects-item:not(:first-child) {
    display: none;
  }
}

.our-projects-item:last-child {
  margin-right: 0;
}

.all-projects {
  display: inline-block;
  min-width: 200px;
  min-height: 45px;
  padding: 15px 36px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  border: transparent;
}

.all-projects:hover,
.all-projects:focus {
  background-color: #188ce8;
}

.our-video {
  padding: 50px 0;
  background-color: rgba(0, 0, 0, 0.466);
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.466)), to(rgba(47, 48, 58, 0.4))), url("../images/img2.jpg");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.466), rgba(47, 48, 58, 0.4)), url("../images/img2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.video {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.47;
  text-align: center;
  color: #ffffff;
}

.video-subtitle {
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 1.56;
  text-align: center;
  color: #ffffff;
}

.img-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */