@import './utils/variables';
@import './utils/placeholder';
@import './utils/mixin';

@import './all-styles';
@import './components/header';
@import './components/menu-btn';
@import './components/mobile-menu';
@import './components/hero';
// @import './components/modal-gallery';
@import './components/modal';
@import './components/about-us';
@import './components/standarts';
@import './components/benefits';
@import './components/projects';
@import './components/video-about-us';