.our-works {
    text-align: center;
    @media screen and(min-width:768px){
        display: flex;
        align-items: center;
    }
}

.section-benefits {
    padding: 50px 0;
    display: flex;
    background-image: linear-gradient(to right, rgb(80, 77, 194), rgb(94, 18, 209));
    height: 400px;

    @media screen and(min-width: 768px){
        height: 350px;
    }
    @media screen and(min-width: 1200px) {
        height: 490px; 
    }   
}

.benefits {
    color: $white-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.47;
    margin-bottom: 30px;

    @media screen and(min-width: 768px) {
        margin-bottom: 70px;
    }
}

.benefits-link {
    margin-bottom: 30px;
    min-width: 200px;
    height: 45px;
    padding: 15px 36px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: $white-color;
    background-color: $accent-color;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    border: transparent;

    @media screen and(min-width: 768px){
        margin-left: auto;
    }
}

.benefits-link:hover,
.benefits-link:focus {
    background-color: $button-hover;
}

.work-container{
    margin-top: -50px;
    margin-bottom: 50px;
    text-align: center;

    @media screen and(min-width: 768px) {
        margin-top: -100px;
    }
    @media screen and(min-width: 1200px) {
        margin-top: -50px;
    }
}

.work-list {
    border-bottom: 1px solid #e0e0e0;
    color: $text-color;

    @media screen and(min-width: 768px){
           display: flex; 
    }
}

.work-item {
    margin-bottom: 30px;
    @media screen and(min-width: 768px){
           margin-right: 30px; 
    }

}

.work-item:nth-child(2){
    @media screen and(max-width: 767px){
        display: none;
    }
}

.work-item:nth-child(3) {
    @media screen and(max-width: 767px) {
        display: none;
    }
}

.work-item:last-child {
    @media screen and(min-width: 768px){
        margin-right: 0;
    }
}
.work-img {
    border-radius: 25px;
    margin: 0 auto;
}

.subtitle {
    @media screen and(max-width: 767px) {
        text-align: center;
    }
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    color: $text-title-color;
}

.subtitle>span {
    color: $accent-color;
}

.subtitle-text {
    
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.56;
    @media screen and(min-width: 768px){
        text-align: start;
    }
}

.subtitle-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;

    text-decoration-line: underline;

    color: $accent-color;
}