.header {
    @media screen and(min-width: 768px) {
    border-bottom: 1px solid #a1a1a1;
    opacity: 0.5;
    } 
}

.nav{
    margin-left: auto;
}

.main-nav {
    padding-top: 40px;
    padding-bottom: 40px;
}


.site-nav {
 display: block;

@media screen and(min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    
    }
}

.site-nav-item {
    margin-bottom: 30px;

    @media screen and(min-width: 768px){
         margin-right: 20px;
         margin-bottom: 0;
    }
   
}

.site-nav-item:last-child {
    margin-bottom: 0;

    @media screen and(min-width: 768px) {
    margin-right: 0px;
        }
}

.nav-link {

    font-weight: 500;
    font-size: 22px;
    line-height: 1.8;
    color: $white-color;

    @media screen and(min-width: 768px){
        
        font-weight: 500;
        font-size: 16px;
        line-height: 1.43;

        color: $white-color; 
        }
    
}