/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}

/* Лента слайдов */
.slick-track {
    display: flex;
    align-items: flex-start;
    // margin: -10px;
    
}
.slick-track a{
   margin: 30px;

}
/* Слайд */
.slick-slide {}

/* Слайд активный (показывается) */
.slick-slide.slick-active {
   width: 900px; 
}

/* Слайд основной */
.slick-slide.slick-current {}

/* Слайд по центру */
.slick-slide.slick-center {}

/* Клонированный слайд */
.slick-slide.slick-cloned {}

/* Стрелка */
.slick-arrow {}

/* Стрелка влево */
.slick-arrow.slick-prev {}

/* Стрелка вправо */
.slick-arrow.slick-next {}

/* Стрелка не активная */
.slick-arrow.slick-disabled {}

/* Точки (булиты) */
.slick-dots {

}

.slick-dots li {

}

/* Активная точка */
.slick-dots li.slick-active {}

/* Элемент точки */
.slick-dots li button {}


/*Конкретный слайдер*/
.slider{
    // min-width: 0;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 0px 50px;
}

.slider .slick-arrow{
position: absolute;
top: 50%;
margin: -30px 0px 0px 0px ;
font-size: 0;
width: 50px;
height: 50px;
border: transparent;

}

.slider .slick-arrow.slick-prev{
    left:0;
    background: url(/images/arrow-left2.svg) 0 0 /100% no-repeat;
}
.slider .slick-arrow.slick-next {
    left: 815px;
    background: url(/images/arrow-right2.svg) 0 0 /100% no-repeat;
}

.slider .slick-arrow.slick-disabled{
    opacity: 0.2;
}

.slider__item{
    transition: all 0.3s ease 0s;
    text-align: center;
    opacity: 1;
}

// .slider__item.slick-center {
//     opacity: 1;
//     transform: scale(1.3);
// }

.slider .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider .slick-dots li {
    list-style: none;
}

.slider .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    border: transparent;

}
.slider .slick-dots li.slick-active button{
    background-color: transparent;
    border: 1px solid rgb(0, 0, 0);
}

