
$white-color: #ffffff;
$text-title-color: #323232;
$text-color: #999999;
$accent-color: #2196f3;
$button-hover: #188ce8;
$card-set-gap: 20px;
$black-color: #000000;
$border-color: #eeeeee;
$accent-section-color-1: rgb(80, 77, 194);
$accent-section-color-1:rgb(94, 18, 209);


$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;